
body {
    padding: 20px;
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(to right, #010101, #201f2d, #393756, #535183, #6e6db3, #8a71bb, #a675c1, #c279c4, #ca6c9b, #c36878, #b1685d, #99694c); */
    padding-left: 30px;
    /* background-color: #020102; */
    background-image: linear-gradient(to right, #171516, #2f2b2f, #47444b, #5d5e69, #737b88, #727b87, #707b87, #6f7b86, #575e66, #404248, #28292c, #111111);
}

/* Style the headers */
h1 {
    color: #333;
    font-size: 24px;
}

h2 {
    color: #666;
    font-size: 18px;
}

/* Style the paragraphs */
p {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

/* Add some spacing between sections */
div {
    margin-bottom: 20px;
}

/* Add some basic styling to the pages */
#page1 {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    background-color: #8ea4b1;
}

#page2 {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 5px;
    background-color: #8ea4b1;
}

#page3 {
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 5px;
    background-color: #8ea4b1;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform : translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}