body {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(abstract-digital-grid-black-background.jpg);
    background-size: cover; /* Ensures the background image covers the entire container */
    background-attachment: fixed; /* Prevents the background image from scrolling with the content */
    background-position: center; /* Centers the background image */
}

/* Style the headers */
h1 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    -webkit-line-clamp: 1;
}

h2 {
    color: #ccc;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

/* Style the paragraphs */
p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Add some spacing between sections */
div {
    margin-bottom: 16px;
}

/* Add some basic styling to the pages */
#page1, #page2, #page3 {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(151, 135, 135, 0.3);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.faq-item:focus-within .question {
    background-color: #ccc;
}

.faq-item:focus-within .answer {
    max-height: 1000px; /* Adjust this value to your needs */
}
/* Add this to your existing style.css file or create a new file for responsive styles */

/* Responsive styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    #page1, #page2, #page3 {
        padding: 10px;
    }
}

/* Mobile-first approach */
@media (max-width: 576px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    #page1, #page2, #page3 {
        border-radius: 0;
    }
}

.faq-item {
    margin-bottom: 16px;
}

.faq-item .question {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.faq-item .answer {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    display: none;
}

.faq-item .answer.show {
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    .hidden {
        transition: linear;
    }
}

#faq {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(abstract-digital-grid-black-background.jpg);
}

#faq h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.faq-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(151, 135, 135, 0.3);
}

.faq-item h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.faq-item p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}


